@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 188 100% 10%;
    --card: 0 0% 100%;
    --card-foreground: 188 100% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 188 100% 10%;
    --primary: 188 100% 19%;
    /* #005461 */
    --primary-foreground: 0 0% 98%;
    --secondary: 169 53% 49%;
    /* #3BC1A8 */
    --secondary-foreground: 188 100% 10%;
    --muted: 188 20% 96%;
    --muted-foreground: 188 40% 40%;
    --accent: 175 63% 38%;
    /* #249E94 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 188 20% 90%;
    --input: 188 20% 90%;
    --ring: 188 100% 19%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}